/* general */
body {
  font-family: 'Arial', sans-serif;
}

/* hero */
#home {
  background: linear-gradient(120deg, #0d6efd, #6610f2);
  color: white;
}

/* cards */
.card img {
  height: 200px;
  object-fit: cover;
}
